	
{{content}}
		<!--////////////////////////////////////Footer-->
	<footer id="footer">
		<div class="container">
			<div class="wrap-footer">
				<div class="row">
					<div class="col-md-7">
						<div class="footer-contact-form">
							<h2 class="footer-title">Leave A Message</h2>
							<form name="" method="post" action="contact.php">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<input type="text" class="form-control input-lg" name="name" id="name" placeholder="Enter name" required="required" />
										</div>
										<div class="form-group">
											<input type="email" class="form-control input-lg" name="email" id="email" placeholder="Enter email" required="required" />
										</div>
										<div class="form-group">
											<input type="text" class="form-control input-lg" name="subject" id="subject" placeholder="Subject" required="required" />
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<textarea name="message" id="message" class="form-control" rows="4" cols="25" required placeholder="Message" style="height: 190px;"></textarea>
										</div>						
									</div>
								</div>
								<button type="submit" class="btn btn-skin" name="submitcontact" id="submitcontact">Submit</button>
							</form>
						</div>
					</div>
					<div class="col-md-5">
						<div class="footer-contact-info">
							<div class="contact-info-item">
								<div class="row">
									<div class="col-md-1">
										<div class="contact-info-icon">
											<i class="fa fa-map-marker"></i>
										</div>
									</div>
									<div class="col-md-10">
										<h3>Location</h3>
										<p>GDAIB</p>
									</div>
								</div>
							</div>
							<div class="contact-info-item">
								<div class="row">
									<div class="col-md-1">
										<div class="contact-info-icon">
											<i class="fa fa-phone"></i>
										</div>
									</div>
									<div class="col-md-10">
										<h3>Toll Free call</h3>
										<p> 10086</p>
									</div>
								</div>
							</div>
							<div class="contact-info-item">
								<div class="row">
									<div class="col-md-1">
										<div class="contact-info-icon">
											<i class="fa fa-envelope"></i>
										</div>
									</div>
									<div class="col-md-10">
										<h3>Email</h3>
										<p> www.baidu.com</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom-footer">
				<ul class="list-inline footer-link link">
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Instagram</a></li>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">Google +</a></li>
					<li><a href="#">Pinterest</a></li>
				</ul>
				<div class="copyright">
					<span>Copyright © - More Blog <a href="http://www.baidu.com/" target="_blank" title="小阔基">小阔基</a> -  from <a href="http://www.baidu.com/" title="小阔基" target="_blank">小阔基</a></span>
				</div>
			</div> 
		</div>
	</footer>
	<!-- Footer -->

	<div id="page-top"><a href="#page-top" class="btn btn-toTop"><i class="fa fa-angle-double-up"></i></a></div>
	
	<!-- ========== Scripts ========== -->
	<script src="js/jquery-3.1.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.localScroll.min.js"></script>
	<script src="js/jquery.scrollTo.min.js"></script>
	<script src="js/SmoothScroll.js"></script>
	<script src="js/wow.min.js"></script>
	
	<!-- Owl Carousel JS -->
	<script src="owl-carousel/owl.carousel.js"></script>
	
	<!-- Definity JS -->
	<script src="js/main.js"></script>
	
</div>
</body>
</html>